<%= react_component "Map", {
  imagesSrc: images_paths,
  mapboxToken: Rails.application.secrets.mapbox_token
}%>

<div class="map-header">
  <p class="title">FeddAroundTheWorld</p>
  <p class="subtitle">Feat. Danbo</p>
</div>
